{% extends 'blog/basic.html'%}

{%block scripts%}

<script>

// jquery function
$(document).ready(function(){
    var tem = document.getElementById('tempChart').getContext('2d');
    var tempChart = new Chart(tem, {
        type: 'line',
        data: {
            labels: [{%for datat in qst%}'{{datat.time}}',{%endfor%}], //loop through queryset, 
            datasets: [{
                label: 'Temperature',
                data: [{%for datat in qst%}{{datat.temp}},{%endfor%}],
                fill: false,
                backgroundColor: 'rgba(67,141,237,1)',
                borderColor: 'rgba(67,141,237,1)',
                tension: 0.3
            }
        ]},
        options: {
            title: {
                display: true,
                text: 'Temperature'
            },
            legend: {
               display: false
            },   
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Temperature (°C)'
                    }
                }],
                xAxes: [{ 
                    scaleLabel: {
                        display: true,
                        labelString: 'Date and Time'
                    }
                }]
            },
            
        }
    });
    var hum = document.getElementById('humidChart').getContext('2d');
    var humidChart = new Chart(hum, {
        type: 'line',
        data: {
            labels: [{%for datah in qsh%}'{{datah.time}}',{%endfor%}], //loop through queryset, 
            datasets: [
            {
                label: 'Humidity',
                display: false,
                data: [{%for datah in qsh%}{{datah.humidity}},{%endfor%}],
                fill: false,
                backgroundColor: 'rgba(255,95,95,1)',
                borderColor: 'rgba(255,95,95,1)',
                tension: 0.3
            }
        ]
        },
        options: {
            title: {
                display: true,
                text: 'Humidity'
            },
            legend: {
               display: false
            },   
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Humidity (%)'
                    }
                }],
                xAxes: [{ 
                    scaleLabel: {
                        display: true,
                        labelString: 'Date and Time'
                    }
                }]
            }
        }
    },
    );
    var tvoc = document.getElementById('tvocChart').getContext('2d');
    var tvocChart = new Chart(tvoc, {
        type: 'line',
        data: {
            labels: [{%for datatv in qstvoc%}'{{datatv.time}}',{%endfor%}], //loop through queryset, 
            datasets: [{
                label: 'TVOC',
                data: [{%for datatv in qstvoc%}{{datatv.tvoc}},{%endfor%}],
                fill: false,
                backgroundColor: 'rgba(50, 168, 84,1)',
                borderColor: 'rgba(50, 168, 84,1)',
                tension: 0.3
            }
        ]},
        options: {
            title: {
                display: true,
                text: 'TVOC'
            },
            legend: {
               display: false
            },   
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'TVOC (ppb)'
                    }
                }],
                xAxes: [{ 
                    scaleLabel: {
                        display: true,
                        labelString: 'Date and Time'
                    }
                }]
            },
            
        }
    });

    var co2 = document.getElementById('CO2Chart').getContext('2d');
    var CO2Chart = new Chart(co2, {
        type: 'line',
        data: {
            labels: [{%for datac in qsco2%}'{{datac.time}}',{%endfor%}], //loop through queryset, 
            datasets: [{
                label: 'CO₂',
                data: [{%for datac in qsco2%}{{datac.co2}},{%endfor%}],
                fill: false,
                backgroundColor: 'rgba(211, 161, 255,1)',
                borderColor: 'rgba(211, 161, 255,1)',
                tension: 0.3
            }
        ]},
        options: {
            title: {
                display: true,
                text: 'CO₂'
            },
            legend: {
               display: false
            },   
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'CO₂ (ppm)'
                    }
                }],
                xAxes: [{ 
                    scaleLabel: {
                        display: true,
                        labelString: 'Date and Time'
                    }
                }]
            },
            
        }
    });

    var velo = document.getElementById('veloChart').getContext('2d');
    var veloChart = new Chart(velo, {
        type: 'line',
        data: {
            labels: [{%for datav in qsv%}'{{datav.time}}',{%endfor%}], //loop through queryset, 
            datasets: [{
                label: 'Air Velocity',
                data: [{%for datav in qsv%}{{datav.velocity}},{%endfor%}],
                fill: false,
                backgroundColor: 'rgba(255, 135, 31, 1)',
                borderColor: 'rgba(255, 135, 31, 1)',
                tension: 0.3
            }
        ]},
        options: {
            title: {
                display: true,
                text: 'Air Velocity'
            },
            legend: {
               display: false
            },   
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Air Velocity (m/s)'
                    }
                }],
                xAxes: [{ 
                    scaleLabel: {
                        display: true,
                        labelString: 'Date and Time'
                    }
                }]
            },
            
        }
    });

});


</script>
{%endblock scripts%}

{%block content%}
<style>
    body {
        background-color: #f7ffe2;
    }

    .column {
        float: left;
        width: 50%;
    }
      
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .right a {
        position: relative;
        display: inline-block;
        padding: 8px 20px;
        background: #4cbfa6;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        font-family: "Poppins", sans-serif;
    }

    .right a:hover {
        background: #4cbfa6ba;
        font-family: "Poppins", sans-serif;
    }

    .topnav{
        background-color: #f7ffe2;
        overflow: hidden;
    }

    .right{
        float: right;
    }


</style>

<div class="topnav">
    <a href="{% url 'blog-plant' %}"> {% load static %} <img id="logo" src="{% static "blog/media/Lettering-PP-Logo-by-Acongraphic-135-580x386.png" %}" alt="logo" height="50" width="60" /></a>
    <div class="right">
        <a href="{% url 'blog-about2' %}"> > </a>
    </div>
</div>

<div class="column">
    <div class="row">
        <canvas id="tempChart" width="400" height="200"></canvas> 
    </div>
    <div class="row">
        <canvas id="humidChart" width="400" height="200"></canvas>  
    </div>
</div>

<div class="column">
    <div class="row">
        <canvas id="tvocChart" width="400" height="200"></canvas> 
    </div>
    <div class="row">
        <canvas id="CO2Chart" width="400" height="200"></canvas>  
    </div>
</div>
<div class="row">
    <canvas id="veloChart" width="400" height="100"></canvas> 
</div>


<script>
    window.setInterval('refresh()', 5000); 	// Call a function every 10000 milliseconds (OR 10 seconds).
    function refresh() {
        window.location.reload();
    }
    window.onbeforeunload = function () {
            var scrollPos;
            if (typeof window.pageYOffset != 'undefined') {
                scrollPos = window.pageYOffset;
            }
            else if (typeof document.compatMode != 'undefined' && document.compatMode != 'BackCompat') {
                scrollPos = document.documentElement.scrollTop;
            }
            else if (typeof document.body != 'undefined') {
                scrollPos = document.body.scrollTop;
            }
            document.cookie = "scrollTop=" + scrollPos;
        }
    window.onload = function () {
        if (document.cookie.match(/scrollTop=([^;]+)(;|$)/) != null) {
            var arr = document.cookie.match(/scrollTop=([^;]+)(;|$)/);
            document.documentElement.scrollTop = parseInt(arr[1]);
            document.body.scrollTop = parseInt(arr[1]);
        }
    }

</script>

{%endblock content%}
