{% extends 'blog/basic.html'%}

{%block scripts%}
<!-- <canvas id="tempChart" width="400" height="auto"></canvas>  -->
<script>

// jquery function
$(document).ready(function(){
    var tem = document.getElementById('tempChart').getContext('2d');
    var tempChart = new Chart(tem, {
        type: 'line',
        data: {
            labels: [{%for datat in qst%}'{{datat.time}}',{%endfor%}], //loop through queryset, 
            datasets: [{
                    label: 'Temperature',
                    data: [{%for datat in qst%}{{datat.temp}},{%endfor%}],
                    fill: false,
                    backgroundColor: 'rgba(67,141,237,1)',
                    borderColor: 'rgba(67,141,237,1)',
                    tension: 0
            }
        ]},
        // add text to the axis label of chart.js graph
        options: {
            title: {
                display: true,
                text: 'Temperature'
            },
            legend: {
               display: false
            },   
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Temperature (°C)'
                    }
                }],
                // display name of label on the axis
                xAxes: [{ 
                    scaleLabel: {
                        display: true,
                        labelString: 'Date and Time'
                    }
                }]
            },
            
        }
    });
    var hum = document.getElementById('humidChart').getContext('2d');
    var humidChart = new Chart(hum, {
        type: 'line',
        data: {
            labels: [{%for datah in qsh%}'{{datah.time}}',{%endfor%}], //loop through queryset, 
            datasets: [
            {
                    label: 'Humidity',
                    display: false,
                    data: [{%for datah in qsh%}{{datah.humidity}},{%endfor%}],
                    fill: false,
                    backgroundColor: 'rgba(255,95,95,1)',
                    borderColor: 'rgba(255,95,95,1)',
                    tension: 0
            }
        ]
        },
        options: {
            title: {
                display: true,
                text: 'Humidity'
            },
            legend: {
               display: false
            },   
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Humidity (%)'
                    }
                }],
                // display name of label on the axis
                xAxes: [{ 
                    scaleLabel: {
                        display: true,
                        labelString: 'Date and Time'
                    }
                }]
            }
        }
    },
    );
    var tvoc = document.getElementById('tvocChart').getContext('2d');
    var tvocChart = new Chart(tvoc, {
        type: 'line',
        data: {
            labels: [{%for datatv in qstvoc%}'{{datatv.time}}',{%endfor%}], //loop through queryset, 
            datasets: [{
                    label: 'TVOC',
                    data: [{%for datatv in qstvoc%}{{datatv.tvoc}},{%endfor%}],
                    fill: false,
                    backgroundColor: 'rgba(50, 168, 84,1)',
                    borderColor: 'rgba(50, 168, 84,1)',
                    tension: 0
            }
        ]},
        // add text to the axis label of chart.js graph
        options: {
            title: {
                display: true,
                text: 'TVOC'
            },
            legend: {
               display: false
            },   
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'TVOC (ppb)'
                    }
                }],
                // display name of label on the axis
                xAxes: [{ 
                    scaleLabel: {
                        display: true,
                        labelString: 'Date and Time'
                    }
                }]
            },
            
        }
    });

    var co2 = document.getElementById('CO2Chart').getContext('2d');
    var CO2Chart = new Chart(co2, {
        type: 'line',
        data: {
            labels: [{%for datac in qsco2%}'{{datac.time}}',{%endfor%}], //loop through queryset, 
            datasets: [{
                    label: 'CO2',
                    data: [{%for datac in qsco2%}{{datac.co2}},{%endfor%}],
                    fill: false,
                    backgroundColor: 'rgba(211, 161, 255,1)',
                    borderColor: 'rgba(211, 161, 255,1)',
                    tension: 0
            }
        ]},
        // add text to the axis label of chart.js graph
        options: {
            title: {
                display: true,
                text: 'CO2'
            },
            legend: {
               display: false
            },   
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'CO2 (ppm)'
                    }
                }],
                // display name of label on the axis
                xAxes: [{ 
                    scaleLabel: {
                        display: true,
                        labelString: 'Date and Time'
                    }
                }]
            },
            
        }
    });

    var light = document.getElementById('lightChart').getContext('2d');
    var lightChart = new Chart(light, {
        type: 'line',
        data: {
            labels: [{%for datal in qsl%}'{{datal.time}}',{%endfor%}], //loop through queryset, 
            datasets: [{
                    label: 'Red',
                    data: [{%for datal in qsl%}{{datal.red}},{%endfor%}],
                    fill: false,
                    backgroundColor: 'rgba(255, 2, 25, 1)',
                    borderColor: 'rgba(255, 2, 25, 1)',
                    tension: 0
            },
            {
                    label: 'Orange',
                    data: [{%for datal in qsl%}{{datal.orange}},{%endfor%}],
                    fill: false,
                    backgroundColor: 'rgba(255, 125, 25, 1)',
                    borderColor: 'rgba(255, 125, 25, 1)',
                    tension: 0
            },
            {
                    label: 'Yellow',
                    data: [{%for datal in qsl%}{{datal.yellow}},{%endfor%}],
                    fill: false,
                    backgroundColor: 'rgba(255, 238, 25, 1)',
                    borderColor: 'rgba(255, 238, 25, 1)',
                    tension: 0
            },
            {
                    label: 'Green',
                    data: [{%for datal in qsl%}{{datal.green}},{%endfor%}],
                    fill: false,
                    backgroundColor: 'rgba(72, 238, 1, 1)',
                    borderColor: 'rgba(72, 238, 1, 1)',
                    tension: 0
            },
            {
                    label: 'Blue',
                    data: [{%for datal in qsl%}{{datal.blue}},{%endfor%}],
                    fill: false,
                    backgroundColor: 'rgba(4, 106, 236, 1)',
                    borderColor: 'rgba(4, 106, 236, 1)',
                    tension: 0
            },
            {
                    label: 'Violet',
                    data: [{%for datal in qsl%}{{datal.violet}},{%endfor%}],
                    fill: false,
                    backgroundColor: 'rgba(158, 64, 255, 1)',
                    borderColor: 'rgba(158, 64, 255, 1)',
                    tension: 0
            }
            ]},
        // add text to the axis label of chart.js graph
        options: {
            title: {
                display: true,
                text: 'Spectral Light'
            },
            legend: {
               display: false
            },   
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Temperature (°C)'
                    }
                }],
                // display name of label on the axis
                xAxes: [{ 
                    scaleLabel: {
                        display: true,
                        labelString: 'Date and Time'
                    }
                }]
            },
            
        }
    });

    // setTimeout(function(){},1000);
    // console.log("before");
    // setTimeout(function(),10000);
    // console.log("after")
});


</script>
{%endblock scripts%}

{%block content%}
<!-- displaying the chart -->
<!-- you can also play around with the width and height to increase or decrease the chart size -->
<style>
    .column {
        float: left;
        width: 50%;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<div class="column">
    <div class="row">
        <canvas id="tempChart" width="400" height="auto"></canvas> 
    </div>
    <div class="row">
        <canvas id="humidChart" width="400" height="auto"></canvas>  
    </div>
</div>

<div class="column">
    <div class="row">
        <canvas id="tvocChart" width="400" height="auto"></canvas> 
    </div>
    <div class="row">
        <canvas id="CO2Chart" width="400" height="auto"></canvas>  
    </div>
</div>

<div class="column">
    <div class="row">
        <canvas id="lightChart" width="400" height="auto"></canvas> 
    </div>
   
</div>

<!-- <script>
    window.setInterval('refresh()', 2000); 	// Call a function every 10000 milliseconds (OR 10 seconds).

    function refresh() {
        window.location.reload();
    }
</script> -->

{%endblock content%}

